.red {
        color: red;
}

.wy-side-nav-search {
    background-color: #EB649C;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #EB649C;
}
