/* provides a red start on services/mailstorage.rst */
.red {
    color: red;
}

/* no left margin on included rst file */
.rst-content .blockquote-noleftmargin {
    margin-left: 0px;
}

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    /* adobe color wheel - triad edge from #F67373 */
    background: #4783A8 !important;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: 'Arial', 'Helvetica', sans-serif !important;
    color: #F67373 !important;
}

/* a border around screenshot images helps the eye, since our website
background is white */
.rst-content img,
.rst-content img.align-center {
    margin: 13px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}
/* hide what we paid to remove already, when we signed on... */
.wy-nav-side .ethical-rtd {
    opacity: 0;
}
